body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ct {
    text-align:center;
}

.message{
    font-style:italic;
    color:green;
}

.error{
    font-style:italic;
    color:red;
}

/* tambahkan ini */
.br {
    width: 100%;
    border-collapse: collapse;
}

.br, table.br th, table.br td {
    border: 1px solid black;
}

.br th, table.br td {
    padding: 8px;
}
